.main-toolbar {
  margin-bottom: 24px;
  position: fixed;
  top: 0;
  z-index: 99;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin-bottom: 24px;
}

.container {
  margin-top: 90px;
}

.form-group {
  margin-bottom: 24px;
}

.form-group-title {
  margin-bottom: 8px;
}

.form-group-body {
  padding: 0 24px;
}

.manufacturing {
  padding-bottom: 1.25em;
}

.manufacturing .mat-h4 {
  margin: 0;
}

.manufacturing-checkboxes {
  display: flex;
}

.manufacturing-checkboxes mat-checkbox {
  margin-right: 16px;
}
